.pd15 {
  padding: 15px;
}
.ex-tooltip {
  position: absolute;
  background: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-shadow: 0 1px 3px #000;
  -moz-box-shadow: 0 1px 3px #000;
  -ms-box-shadow: 0 1px 3px #000;
  -o-box-shadow: 0 1px 3px #000;
  box-shadow: 0 1px 3px #000;
  border-collapse: separate;
  display: none
}
.modal-header {
  border-bottom: none;
}
.nv-discreteBarWithAxes > g:nth-child(1) > g:nth-child(2) > g:nth-child(1) > g:nth-child(1) > g> text {
  transform: rotate(-41deg) translateX(-18px) translateY(23px);
}
.nv-pie:hover {
  cursor: pointer;
}

