<form role="form">
  <div class="form-group">
    <label for="time">Type</label>
    <select class="form-control" ng-model="config.type">
      <option value="bar">bar</option>
      <option value="line">line</option>
      <option value="line-dotted">line-dotted</option>
    </select>
  </div>
  <div class="form-group">
    <label for="date">Data</label>
    <input type="text" class="form-control" id="date" ng-model="config.data">
  </div>
  <div class="form-group">
    <label for="date">Options</label>
    <input type="text" class="form-control" id="date" ng-model="config.opts">
  </div>
</form>
