<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="dashboard sample app">
  <meta name="author" content="Shuai Zhang">

  <title>Eze Dashboard</title>

  <!-- build:css css/sample.min.css -->
  <!-- Bootstrap core CSS -->
  <link href="styles/bootstrap.min.css" rel="stylesheet">
  <link href="components/angular-dashboard-framework/dist/angular-dashboard-framework.min.css" rel="stylesheet">

  <!-- widget styles -->
  <link rel="stylesheet" href="widgets/chart/lib/nvd3/nv.d3.css">
  <link href="components/adf-widget-clock/dist/adf-widget-clock.min.css" rel="stylesheet">
  <link rel="stylesheet" href="widgets/treemap/dist/adf-widget-treemap.css">
  <link rel="stylesheet" href="widgets/grid/components/angular-ui-grid/ui-grid.css">

  <link href="styles/index.css" rel="stylesheet">

  <!-- dashboard style -->

  <!-- endbuild -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  <!--[if lte IE 8]>
      <script>
        document.createElement('adf-dashboard');
        document.createElement('adf-widget');
        document.createElement('adf-widget-content');
        document.createElement('adf-dashboard-row');
        document.createElement('adf-dashboard-column');

        document.createElement('highchart');
      </script>
    <![endif]-->

  <!-- inlince css -->
  <style type="text/css">
    body {
      padding-top: 60px;
    }
    /* fixe for modal-backdrop*/

    .modal-backdrop {
      bottom: 0;
      /* some fixes appear to use this, too: */
      position: fixed;
    }
  </style>
</head>

<body ng-app="dashboard">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div ng-class="containerClass">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="toggleNav()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Eze Dashboard</a>
      </div>
      <div class="pull-right pd15 hidden-xs">
        <select ng-model="containerClass">
          <option value="container-fluid">Fluid</option>
          <option value="container">Fixed Width</option>
        </select>
      </div>
    </div>
  </div>

  <div ng-class="containerClass" ng-controller="dashboardCtrl">
    <p class="col-md-4 input-group">
      <span class="input-group-addon">Date Filter</span>
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
    <adf-dashboard name="{{name}}" collapsible="{{collapsible}}" maximizable="{{maximizable}}" structure="4-8" adf-model="model" />
  </div>

  <script src="components/jquery/dist/jquery.min.js"></script>

  <!-- build:js js/angular.min.js -->
  <script src="components/angular/angular.js"></script>
  <!-- endbuild -->

  <!-- build:js js/angular-route.min.js -->
  <!-- <script src="components/angular-route/angular-route.js"></script> -->
  <!-- endbuild -->

  <!-- build:js js/sample.min.js -->
  <!-- Sortable -->
  <script src="components/Sortable/Sortable.js"></script>

  <!-- angular-bootstrap -->
  <script src="components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <!-- scripts -->
  <script src="components/angular-dashboard-framework/dist/angular-dashboard-framework.js"></script>

  <!-- local storage -->
  <script src="components/angular-local-storage/dist/angular-local-storage.js"></script>


  <!-- structures -->
  <script src="components/adf-structures-base/dist/adf-structures-base.min.js"></script>

  <!-- treemap widget -->
  <script src="widgets/treemap/components/d3/d3.js"></script>
  <script src="widgets/treemap/components/heap/lib/heap.js"></script>
  <script src="widgets/treemap/components/topojson/topojson.js"></script>
  <script src="widgets/treemap/components/d3plus/d3plus.js"></script>
  <script src="widgets/treemap/dist/adf-widget-treemap.js"></script>

  <!-- chart widget -->
  <script src="widgets/chart/components/nvd3/build/nv.d3.min.js"></script>
  <script src="widgets/chart/components/angular-animate/angular-animate.min.js"></script>
  <script src="widgets/chart/components/angular-nvd3/dist/angular-nvd3.js"></script>
  <script src="widgets/chart/dist/adf-widget-chart.js"></script>

  <!-- grid widget -->
  <script src="widgets/grid/components/angular-ui-grid/ui-grid.js"></script>
  <script src="widgets/grid/dist/adf-widget-grid.js"></script>

  <!-- gauge widget -->
  <script src="widgets/gauge/components/json3/lib/json3.min.js"></script>
  <script src="widgets/gauge/components/raphael/raphael-min.js"></script>
  <script src="widgets/gauge/components/justgage-bower/justgage.js"></script>
  <script src="widgets/gauge/components/angular-gage/dist/angular-gage.min.js"></script>
  <script src="widgets/gauge/dist/adf-widget-gauge.js"></script>



  <!-- clock widget -->
  <script src="components/adf-widget-clock/dist/adf-widget-clock.min.js"></script>


  <!-- markdown widget -->
  <script src="components/showdown/compressed/Showdown.min.js"></script>
  <script src="components/showdown/compressed/extensions/table.min.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="components/angular-markdown-directive/markdown.js"></script>
  <script src="components/adf-widget-markdown/dist/adf-widget-markdown.min.js"></script>

  <!-- chart data -->
  <script src="scripts/data/lineChartData.js"></script>
  <script src="scripts/data/pieChartData.js"></script>
  <script src="scripts/data/donutChartData.js"></script>
  <script src="scripts/data/scatterChartData.js"></script>
  <script src="scripts/data/treemapData.js"></script>

  <script src="scripts/data/pnl/pnlByBook.js"></script>
  <script src="scripts/data/pnl/top10WeeklyGains.js"></script>
  <script src="scripts/data/pnl/top10WeeklyLosses.js"></script>
  <script src="scripts/data/pnl/top10MtdGains.js"></script>
  <script src="scripts/data/pnl/top10MtdLosses.js"></script>
  <script src="scripts/data/pnl/top10YtdGains.js"></script>



  <!-- app -->
  <script src="scripts/dashboard.js"></script>

  <!-- inject:js -->
  <!-- endinject -->

  <!-- endbuild -->
</body>

</html>
