<div ng-if="!drillingDown" class="animate-if">
  <nvd3 options="config.options" data="config.data" config="{refreshDataOnly: true}" api="config.api" events="config.events"></nvd3>
</div>
<div ng-if="drillingDown" class="animate-if">
  <button class="btn btn-primary" ng-click="goBack()">Go Back</button>
  <nvd3 options="config.drillDownOptions" data="config.drillDownData" ></nvd3>
  <p ng-if="!config.drillDownData">No drill-down data.</p>
</div>
