<div class="modal-header">
  <button class="btn btn-primary pull-right" ng-click="ok()">Close</button>
</div>
<div class="modal-body">
  <nvd3 options="config.options" data="config.data"></nvd3>
</div>
