<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ADF Widget Sample">

  <title>ADF Widget Sample</title>

  <!-- bower:css -->
  <!-- endbower -->

  <!-- inject:css -->
  <!-- endinject -->

  <!-- inlince css -->
  <style type="text/css">
    body {
      padding-top: 60px;
    }
  </style>
</head>

<body ng-app="adfWidgetSample">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ADF Widget Sample</a>
      </div>
    </div>
  </div>

  <div class="container" ng-controller="dashboardController">
    <button ng-click="change()">Change</button>
    <adf-dashboard name="widgetSampleDashboard" structure="4-8" adf-model="dashboard.model" />
  </div>

  <!-- bower:js -->
  <!-- endbower -->

  <!-- inject:js -->
  <!-- endinject -->

  <script type="text/javascript">
    angular
      .module('adfWidgetSample', ['adf', 'adf.widget.grid', 'LocalStorageModule'])
      .config(function(dashboardProvider, localStorageServiceProvider) {
        localStorageServiceProvider.setPrefix('adf.grid');

        dashboardProvider.structure('4-8', {
          rows: [{
            columns: [{
              styleClass: 'col-md-4',
              widgets: []
            }, {
              styleClass: 'col-md-8',
              widgets: []
            }]
          }]
        })
      }).controller('dashboardController', function($scope, localStorageService) {
        var model = localStorageService.get('widgetSampleDashboard');
        if (!model) {
          model = {
            rows: [{
              columns: [{
                styleClass: 'col-md-4',
                widgets: []
              }, {
                styleClass: 'col-md-8',
                widgets: [{
                  type: 'grid',
                  title: 'grid',
                  config: {
                    data: [{
                      "value": 100,
                      "name": "alpha"
                    }, {
                      "value": 70,
                      "name": "beta"
                    }, {
                      "value": 40,
                      "name": "gamma"
                    }, {
                      "value": 15,
                      "name": "delta"
                    }, {
                      "value": 5,
                      "name": "epsilon"
                    }, {
                      "value": 1,
                      "name": "zeta"
                    }]
                  }
                }]
              }]
            }]
          };
        }
        $scope.dashboard = {
          model: model
        };
        $scope.change = function() {
          $scope.dashboard.model.rows[0].columns[1].widgets[0].config.data[0].value = 200;
        };
        $scope.$on('adfDashboardChanged', function(event, name, model) {
          localStorageService.set(name, model);
        });
      });
  </script>
</body>

</html>
